SYMFONY_API_URL=https://localhost

OPENAPI_SCHEMA_URL=https://localhost/api/doc.json

NEXT_PUBLIC_SITE_URL=http://localhost:3000

NEXT_PUBLIC_APP_ENV=development

AUTH_COOKIE_NAME=b2t_session

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
